{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "../service-header.njk" import govukOneLoginServiceHeader %}

{% block header %}
    {%- if navigationItems -%}
      {%- set navArr = [] -%}
      {%- for item in navigationItems -%}
        {{- '' if navArr.push({
            href: item.href,
            text: item.text,
            active: item.id == activeLinkId
        }) -}}
      {%- endfor -%}
      {{ govukOneLoginServiceHeader({
        serviceNavigationParams: {
          serviceName: serviceName,
          serviceUrl: serviceUrl,
          menuButtonText: menuButtonText,
          menuButtonLabel: menuButtonLabel,
          navigation: navArr,
          navigationLabel: navigationLabel,
          navigationClasses: navigationClasses,
          attributes: attributes,
          classes: classes,
          ariaLabel: ariaLabel,
          rebrand: govukRebrand,
          collapseNavigationOnMobile: collapseNavigationOnMobile
        },
        signOutLink: signOutLink,
        oneLoginLink: oneLoginLink,
        rebrand: govukRebrand
      }) if serviceName }}
    {%- elif navigation -%}
      {{ govukOneLoginServiceHeader({
        signOutLink: signOutLink,
        oneLoginLink: oneLoginLink,
        rebrand: govukRebrand,
        serviceNavigationParams: {
          serviceName: serviceName,
          serviceUrl: serviceUrl,
          navigation: navigation,
          menuButtonText: menuButtonText,
          menuButtonLabel: menuButtonLabel,
          navigationLabel: navigationLabel,
          navigationClasses: navigationClasses,
          attributes: attributes,
          classes: classes,
          ariaLabel: ariaLabel,
          rebrand: govukRebrand,
          collapseNavigationOnMobile: collapseNavigationOnMobile
        }
      }) if serviceName }}
    {%- else -%}
      {{ govukOneLoginServiceHeader({ 
        serviceName: serviceName, 
        serviceUrl: serviceUrl,
        signOutLink: signOutLink,
        oneLoginLink: oneLoginLink,
        menuButtonText: menuButtonText,
        menuButtonLabel: menuButtonLabel,
        rebrand: govukRebrand
      })}}
    {%- endif -%}
{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    {% block beforeContent %}{% endblock %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content">
      {% block content %}{% endblock %}
    </main>
  </div>
{% endblock %}