.govuk-width-container {
  max-width: 960px;
  margin-right: 15px;
  margin-left: 15px;
}
@supports (margin: max(calc(0px))) {
  .govuk-width-container {
    margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
  }
}
@media (min-width: 40.0625em) {
  .govuk-width-container {
    margin-right: 30px;
    margin-left: 30px;
  }
  @supports (margin: max(calc(0px))) {
    .govuk-width-container {
      margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
      margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
    }
  }
}
@media (min-width: 1020px) {
  .govuk-width-container {
    margin-right: auto;
    margin-left: auto;
  }
  @supports (margin: max(calc(0px))) {
    .govuk-width-container {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.govuk-grid-row {
  margin-right: -15px;
  margin-left: -15px;
}
.govuk-grid-row:after {
  content: "";
  display: block;
  clear: both;
}

.govuk-grid-column-one-quarter {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}
@media (min-width: 40.0625em) {
  .govuk-grid-column-one-quarter {
    width: 25%;
    float: left;
  }
}

.govuk-grid-column-one-third {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}
@media (min-width: 40.0625em) {
  .govuk-grid-column-one-third {
    width: 33.3333333333%;
    float: left;
  }
}

.govuk-grid-column-one-half {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}
@media (min-width: 40.0625em) {
  .govuk-grid-column-one-half {
    width: 50%;
    float: left;
  }
}

.govuk-grid-column-two-thirds {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}
@media (min-width: 40.0625em) {
  .govuk-grid-column-two-thirds {
    width: 66.6666666667%;
    float: left;
  }
}

.govuk-grid-column-three-quarters {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}
@media (min-width: 40.0625em) {
  .govuk-grid-column-three-quarters {
    width: 75%;
    float: left;
  }
}

.govuk-grid-column-full {
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}
@media (min-width: 40.0625em) {
  .govuk-grid-column-full {
    width: 100%;
    float: left;
  }
}

.govuk-grid-column-one-quarter-from-desktop {
  box-sizing: border-box;
  padding: 0 15px;
}
@media (min-width: 48.0625em) {
  .govuk-grid-column-one-quarter-from-desktop {
    width: 25%;
    float: left;
  }
}

.govuk-grid-column-one-third-from-desktop {
  box-sizing: border-box;
  padding: 0 15px;
}
@media (min-width: 48.0625em) {
  .govuk-grid-column-one-third-from-desktop {
    width: 33.3333333333%;
    float: left;
  }
}

.govuk-grid-column-one-half-from-desktop {
  box-sizing: border-box;
  padding: 0 15px;
}
@media (min-width: 48.0625em) {
  .govuk-grid-column-one-half-from-desktop {
    width: 50%;
    float: left;
  }
}

.govuk-grid-column-two-thirds-from-desktop {
  box-sizing: border-box;
  padding: 0 15px;
}
@media (min-width: 48.0625em) {
  .govuk-grid-column-two-thirds-from-desktop {
    width: 66.6666666667%;
    float: left;
  }
}

.govuk-grid-column-three-quarters-from-desktop {
  box-sizing: border-box;
  padding: 0 15px;
}
@media (min-width: 48.0625em) {
  .govuk-grid-column-three-quarters-from-desktop {
    width: 75%;
    float: left;
  }
}

.govuk-grid-column-full-from-desktop {
  box-sizing: border-box;
  padding: 0 15px;
}
@media (min-width: 48.0625em) {
  .govuk-grid-column-full-from-desktop {
    width: 100%;
    float: left;
  }
}

.cross-service-header__button {
  display: none;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  position: relative;
  align-items: center;
  cursor: pointer;
  min-width: 240px;
  min-width: max-content;
  border: 0;
  margin: 0;
  padding: 10px 0 10px 20px;
  background: none;
}
.cross-service-header.js-enabled .cross-service-header__button {
  display: inline;
  display: flex;
}
@media (min-width: 40.0625em) {
  .cross-service-header.js-enabled .cross-service-header__button {
    display: none;
  }
}
/*! Copyright (c) 2011 by Margaret Calvert & Henrik Kubel. All rights reserved. The font has been customised for exclusive use on gov.uk. This cut is not commercially available. */ /* stylelint-disable-line scss/comment-no-loud  */
@font-face {
  font-family: "GDS Transport";
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/light-94a07e06a1-v2.woff2") format("woff2"), url("/assets/fonts/light-f591b13f7d-v2.woff") format("woff");
  font-display: fallback;
}
@font-face {
  font-family: "GDS Transport";
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/bold-b542beb274-v2.woff2") format("woff2"), url("/assets/fonts/bold-affa96571d-v2.woff") format("woff");
  font-display: fallback;
}
@media print {
  .cross-service-header__button {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .cross-service-header__button {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .cross-service-header__button {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.cross-service-header__button:before {
  content: "";
  position: absolute;
  left: 0.15rem;
  top: 50%;
  box-sizing: border-box;
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  transform: translateY(-65%) rotate(135deg);
  border-top: 0.15rem solid;
  border-right: 0.15rem solid;
}
.cross-service-header__button.cross-service-header__button--open:before {
  transform: translateY(-15%) rotate(-45deg);
}
.cross-service-header__button.cross-service-header__button--service-header {
  color: #1d70b8;
}
.cross-service-header__button.cross-service-header__button--service-header:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.cross-service-header__button.cross-service-header__button--service-header:focus:not(:focus-visible) {
  outline: none;
  color: #1d70b8;
  background: none;
  box-shadow: none;
}
.cross-service-header__button.cross-service-header__button--service-header:focus-visible {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.cross-service-header__button.cross-service-header__button--one-login {
  color: #ffffff;
}
.cross-service-header__button.cross-service-header__button--one-login:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.cross-service-header__button.cross-service-header__button--one-login:focus:not(:focus-visible) {
  outline: none;
  color: #ffffff;
  background: none;
  box-shadow: none;
}
.cross-service-header__button.cross-service-header__button--one-login:focus-visible {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.cross-service-header__button-icon {
  margin-left: 10px;
  font-size: 0;
}
.cross-service-header__button-icon.cross-service-header__button-icon--focus {
  display: none;
}
.cross-service-header__button:focus .cross-service-header__button-icon.cross-service-header__button-icon--default {
  display: none;
}
.cross-service-header__button:focus .cross-service-header__button-icon.cross-service-header__button-icon--focus {
  display: inline;
}
.cross-service-header__button:focus:not(:focus-visible) .cross-service-header__button-icon.cross-service-header__button-icon--default {
  display: inline;
}
.cross-service-header__button:focus:not(:focus-visible) .cross-service-header__button-icon.cross-service-header__button-icon--focus {
  display: none;
}
.cross-service-header__button:focus-visible .cross-service-header__button-icon.cross-service-header__button-icon--default {
  display: none;
}
.cross-service-header__button:focus-visible .cross-service-header__button-icon.cross-service-header__button-icon--focus {
  display: inline;
}

.one-login-header {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  color: #ffffff;
  background: #0b0c0c;
  border-bottom: 10px solid #1d70b8;
  position: relative;
}
@media print {
  .one-login-header {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .one-login-header {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}
@media print {
  .one-login-header {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.one-login-header__container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.one-login-header__logo {
  min-width: max-content;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 33.33%;
}
@media (min-width: 48.0625em) {
  .one-login-header__logo {
    width: 33.33%;
    padding-right: 15px;
  }
}

.one-login-header__link:link, .one-login-header__link:visited,
.one-login-header__nav__link:link,
.one-login-header__nav__link:visited {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
@media print {
  .one-login-header__link:link, .one-login-header__link:visited,
  .one-login-header__nav__link:link,
  .one-login-header__nav__link:visited {
    font-family: sans-serif;
  }
}
.one-login-header__link:link:link, .one-login-header__link:link:visited, .one-login-header__link:visited:link, .one-login-header__link:visited:visited,
.one-login-header__nav__link:link:link,
.one-login-header__nav__link:link:visited,
.one-login-header__nav__link:visited:link,
.one-login-header__nav__link:visited:visited {
  color: #ffffff;
}
.one-login-header__link:link:hover, .one-login-header__link:link:active, .one-login-header__link:visited:hover, .one-login-header__link:visited:active,
.one-login-header__nav__link:link:hover,
.one-login-header__nav__link:link:active,
.one-login-header__nav__link:visited:hover,
.one-login-header__nav__link:visited:active {
  color: rgba(255, 255, 255, 0.99);
}
.one-login-header__link:link:focus, .one-login-header__link:visited:focus,
.one-login-header__nav__link:link:focus,
.one-login-header__nav__link:visited:focus {
  color: #0b0c0c;
}
.one-login-header__link:link:hover, .one-login-header__link:visited:hover,
.one-login-header__nav__link:link:hover,
.one-login-header__nav__link:visited:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 0.1em;
}
.one-login-header__link:link:focus, .one-login-header__link:visited:focus,
.one-login-header__nav__link:link:focus,
.one-login-header__nav__link:visited:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.one-login-header__logotype {
  display: inline-block;
  margin-right: 5px;
}
@media (forced-colors: active) {
  .one-login-header__logotype {
    forced-color-adjust: none;
    color: linktext;
  }
}
.one-login-header__logotype:last-child {
  margin-right: 0;
}

.one-login-header__logotype-crown {
  position: relative;
  top: -1px;
  margin-right: 1px;
  fill: currentcolor;
  vertical-align: top;
}

.one-login-header__logotype-crown-fallback-image {
  width: 36px;
  height: 32px;
  border: 0;
  vertical-align: bottom;
}

.one-login-header__link--homepage {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  display: inline-block;
  margin-right: 10px;
  font-size: 30px;
  line-height: 1;
}
@media print {
  .one-login-header__link--homepage {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .one-login-header__link--homepage {
    display: inline;
  }
  .one-login-header__link--homepage:focus {
    box-shadow: 0 0 #ffdd00;
  }
}
.one-login-header__link--homepage:link, .one-login-header__link--homepage:visited {
  text-decoration: none;
}
.one-login-header__link--homepage:hover, .one-login-header__link--homepage:active {
  margin-bottom: -3px;
  border-bottom: 3px solid;
}
.one-login-header__link--homepage:focus {
  margin-bottom: 0;
  border-bottom: 0;
}

.one-login-header__nav {
  display: block;
}
.cross-service-header.js-enabled .one-login-header__nav {
  display: none;
}
.cross-service-header.js-enabled .one-login-header__nav.one-login-header__nav--open {
  display: block;
}
@media (min-width: 40.0625em) {
  .cross-service-header.js-enabled .one-login-header__nav {
    display: block;
  }
}
@media (max-width: 40.0525em) {
  .one-login-header__nav {
    width: 100%;
  }
}
@media (min-width: 40.0625em) {
  .one-login-header__nav {
    max-width: 66%;
  }
}

.one-login-header__nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 40.0625em) {
  .one-login-header__nav__list {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
}

.one-login-header__nav__list-item {
  display: inline-block;
  padding: 10px 0;
}
@media (min-width: 40.0625em) {
  .one-login-header__nav__list-item {
    padding: 10px 0 10px 30px;
    border-left: 1px solid #b1b4b6;
  }
  .one-login-header__nav__list-item:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 40.0525em) {
  .one-login-header__nav__list-item {
    width: 100%;
  }
  .one-login-header__nav__list-item:not(:last-child) {
    border-bottom: 1px solid #b1b4b6;
  }
}

.one-login-header__nav__link {
  font-weight: bold;
}
@media (min-width: 40.0625em) {
  .one-login-header__nav__link.one-login-header__nav__link--one-login {
    display: flex;
    justify-content: center;
  }
  .one-login-header__nav__link.one-login-header__nav__link--one-login:focus .cross-service-header__button-icon {
    display: none;
  }
  .one-login-header__nav__link.one-login-header__nav__link--one-login:focus .cross-service-header__button-icon--focus {
    display: inline;
  }
}
@media (max-width: 40.0525em) {
  .one-login-header__nav__link.one-login-header__nav__link--one-login .cross-service-header__button-icon {
    display: none;
  }
}

.service-header {
  background-color: #f3f2f1;
  border-bottom: 1px solid #b1b4b6;
}

.service-header__container {
  padding-top: 5px;
}
@media (min-width: 40.0625em) {
  .service-header__container {
    display: flex;
    flex-wrap: wrap;
  }
}

.service-header__heading {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #0b0c0c;
  padding: 15px 0;
  margin: 0;
  flex-grow: 1;
}
@media print {
  .service-header__heading {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .service-header__heading {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .service-header__heading {
    font-size: 14pt;
    line-height: 1.15;
  }
}
@media (max-width: 40.0525em) {
  .service-header__heading {
    padding: 5px 0;
  }
}

.service-header__nav {
  display: block;
}
.cross-service-header.js-enabled .service-header__nav {
  display: none;
}
.cross-service-header.js-enabled .service-header__nav.service-header__nav--open {
  display: block;
}
@media (min-width: 40.0625em) {
  .cross-service-header.js-enabled .service-header__nav {
    display: block;
  }
}
@media (max-width: 40.0525em) {
  .service-header__nav {
    width: 100%;
  }
}

.service-header__nav-list {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media print {
  .service-header__nav-list {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .service-header__nav-list {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .service-header__nav-list {
    font-size: 14pt;
    line-height: 1.15;
  }
}
@media (min-width: 40.0625em) {
  .service-header__nav-list {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.1428571429;
  }
}
@media print and (min-width: 40.0625em) {
  .service-header__nav-list {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) and (min-width: 40.0625em) {
  .service-header__nav-list {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
  }
}
@media print and (min-width: 40.0625em) {
  .service-header__nav-list {
    font-size: 14pt;
    line-height: 1.2;
  }
}

.service-header__nav-list-item {
  margin: 10px 0 20px;
}
.service-header__nav-list-item.service-header__nav-list-item--active {
  padding-left: 15px;
  border-left: 5px solid #1d70b8;
}
@media (min-width: 40.0625em) {
  .service-header__nav-list-item {
    display: inline-block;
    margin: 0 30px 0 0;
    border-bottom: 5px solid transparent;
  }
  .service-header__nav-list-item:last-of-type {
    margin: 0;
  }
  .service-header__nav-list-item.service-header__nav-list-item--active {
    border-left: 0;
    padding-left: 0;
    border-bottom: 5px solid #1d70b8;
  }
}

.service-header__nav-list-item-link {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: 0.1em;
}
@media print {
  .service-header__nav-list-item-link {
    font-family: sans-serif;
  }
}
.service-header__nav-list-item-link:hover {
  text-decoration-thickness: max(3px, .1875rem, .12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none;
}
.service-header__nav-list-item-link:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #ffdd00;
  box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.service-header__nav-list-item-link:link {
  color: #1d70b8;
}
.service-header__nav-list-item-link:visited {
  color: #4c2c92;
}
.service-header__nav-list-item-link:hover {
  color: #003078;
}
.service-header__nav-list-item-link:active {
  color: #0b0c0c;
}
.service-header__nav-list-item-link:focus {
  color: #0b0c0c;
}
.service-header__nav-list-item-link:link {
  color: #1d70b8;
}
.service-header__nav-list-item-link:visited {
  color: #1d70b8;
}
.service-header__nav-list-item-link:hover {
  color: #003078;
}
.service-header__nav-list-item-link:active {
  color: #0b0c0c;
}
.service-header__nav-list-item-link:focus {
  color: #0b0c0c;
}
.service-header__nav-list-item-link:not(:hover) {
  text-decoration: none;
}
@media (min-width: 40.0625em) {
  .service-header__nav-list-item-link {
    display: inline-block;
    padding: 15px 0 15px;
  }
  .service-header__nav-list-item-link:focus {
    box-shadow: 0 -5px #ffdd00, 0 5px #0b0c0c;
  }
}
