{% macro littlePersonIcon(modifier="default") %}
  {% set class = "focus" if modifier == "focus" else "default" %}
  {% set backgroundColour = "black" if modifier == "focus" else "white" %}
  {% set personColour = "white" if modifier == "focus" else "#1D70B8" %}

  <!--[if gt IE 8]><!-->
  <span class="x-service-nav__button-icon x-service-nav__button-icon--{{class}}" aria-hidden="true">
    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="11" cy="11" r="11" fill="{{backgroundColour}}"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.29297 18.8487C4.23255 15.4753 7.32741 13 11.0004 13C14.6731 13 17.7678 15.4749 18.7076 18.848C17.8058 19.7338 16.752 20.4654 15.5889 21H11.0004H6.41097C5.24819 20.4655 4.19463 19.7342 3.29297 18.8487Z" fill="{{personColour}}"/>
    <circle cx="11" cy="7.75" r="3.75" fill="{{personColour}}"/>
    <circle cx="11" cy="11" r="10" stroke="{{backgroundColour}}" stroke-width="2"/>
    </svg>
  </span>
  <!--<![endif]-->
{% endmacro %}

{{ littlePersonIcon() }}
{{ littlePersonIcon("focus") }}