{% from "./nunjucks/service-header.njk" import govukOneLoginServiceHeader %}
{% set navigation = [
    {
      href: "#navigation1",
      text: "Navigation item 1"
    },
    {
      href: "#navigation2",
      text: "Navigation item 2",
      active: true
    },
    {
      href: "#navigation3",
      text: "Navigation item 3"
    }
  ]
  %}
{% set activeLinkId = "id3" %}
{% set serviceName = "A very useful service with a relatively long name" %}
{% set signOutLink = "/test" %}

<html lang="en" class="govuk-template--rebranded">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service header – usage example</title>
    <link rel="stylesheet" href="../node_modules/govuk-frontend/dist/govuk/govuk-frontend.min.css">
    <link rel="stylesheet" href="./styles/service-header.css">
    <style>
      @font-face {
        font-family: "GDS Transport";
        font-style: normal;
        font-weight: bold;
        src: url("../assets/fonts/light-94a07e06a1-v2.woff2") format("woff2");
        font-display: fallback;
      }
      @font-face {
        font-family: "GDS Transport";
        font-style: normal;
        font-weight: bold;
        src: url("../assets/fonts/bold-b542beb274-v2.woff2") format("woff2");
        font-display: fallback;
      }
    </style>
  </head>
  <body class="govuk-frontend-supported" style="margin:0;">
    <div class="govuk-!-padding-3">
      <h2 class="govuk-heading-m">1. Basic (no secondary navigation) </h2>
          <details class="govuk-details">
        <summary>Nunjucks code</summary>
        <pre><code>
        {% raw %} {{ govukOneLoginServiceHeader({ signOutLink: "/test"}) }} {% endraw %}
        </code></pre>
      </details>
    </div>

    {{ govukOneLoginServiceHeader({ signOutLink: "/test"}) }}

    <div class="govuk-!-padding-3 govuk-!-margin-top-8">
      <h2 class="govuk-heading-m">2. With Service Navigation component </h2>

      <details class="govuk-details">
        <summary>Nunjucks code</summary>
        <pre><code>
        {% raw %}
          {{ govukOneLoginServiceHeader({
            signOutLink:  "/test", 
            serviceNavigationParams: { 
              navigation: [
              {
                href: "#navigation1", 
                text: "Navigation item 1" 
              },{
                href: "#navigation2", 
                text: "Navigation item 2",
                active: true
              },{
                href: "#navigation3", 
                text: "Navigation item 3"
              }], 
              serviceName: "A very useful service with a relatively long name", 
              navigationLabel: "Test label" 
            }
          })}}
        {% endraw %}
        </code></pre>
      </details>
      <p class="govuk-body"> The code above is for reference for Nunjucks users only – if you do not use Nunjucks in your service please follow the <a class="govuk-link" href="https://github.com/govuk-one-login/service-header/tree/main?tab=readme-ov-file#how-to-start-using-the-header-in-your-service"> instructions to copy the header into your service</a>.</p>
    </div>

    {{ govukOneLoginServiceHeader({ signOutLink: signOutLink, serviceNavigationParams: { navigation: navigation, serviceName: serviceName, navigationLabel: "Test" } }) }}


    <div class="govuk-!-padding-3 govuk-!-margin-top-8">
      <h2 class="govuk-heading-m">3. With Welsh translation for the "Sign out" link</h2>

      <details class="govuk-details">
        <summary>Nunjucks code</summary>
        <pre><code>
        {% raw %}
          {{ govukOneLoginServiceHeader({
            lng: "cy"
          })}}
        {% endraw %}
        </code></pre>
      </details>
      <p class="govuk-body"> The code above is for reference for Nunjucks users only – if you do not use Nunjucks in your service please follow the <a class="govuk-link" href="https://github.com/govuk-one-login/service-header/tree/main?tab=readme-ov-file#how-to-start-using-the-header-in-your-service"> instructions to copy the header into your service</a>.</p>
    </div>

    {{ govukOneLoginServiceHeader({ lng: "cy" }) }}

    <script type="module" src="./scripts/service-header.js"></script>
    <script type="module" src="../node_modules/govuk-frontend/dist/govuk/govuk-frontend.min.js"></script>
    <script type="module">
      import { initCrossServiceHeader } from './scripts/service-header.js';
      initCrossServiceHeader();
    </script>

    <script type="module">
      import { ServiceNavigation, createAll } from '../node_modules/govuk-frontend/dist/govuk/govuk-frontend.min.js';
      createAll(ServiceNavigation);
    </script>
  </body>
</html>