{% set navigationItems = navigationItems if navigationItems else [
  {
    active: true,
    href: "#",
    text: 'Example link 1'
  },{
    href: "#",
    text: 'Example link 2'
  },{
    href: "#",
    text: 'Example link 3'
  }]
%}
{% set serviceName = "Name of example service" %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service header – usage example</title>
    <link rel="stylesheet" href="./service-header.css">
  </head>
  <body style="margin:0;">
    {% include './service-header.njk' %}
    <script src="./service-header.js"></script>
    <script>
      var oneLoginHeader = document.querySelector("[data-module='one-login-header']");
      new window.CrossServiceHeader(oneLoginHeader).init();
    </script>
  </body>
</html>