{% from "./nunjucks/service-header.njk" import govukOneLoginServiceHeader %}
{% set navigationItems = [
  {
    href: "#",
    text: 'Example link 1',
    id: 'id1'
  },{
    href: "#",
    text: 'Example link 2',
    id: 'id2'
  },{
    href: "#",
    text: 'Example link 3',
    id: 'id3'
  }]
%}
{% set activeLinkId = "id3" %}
{% set serviceName = "Name of example service" %}

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service header – usage example</title>
    <link rel="stylesheet" href="./styles/service-header.css">
  </head>
  <body style="margin:0;">
    {{ govukOneLoginServiceHeader({ navigationItems: navigationItems, serviceName: serviceName, activeLinkId: activeLinkId }) }}
    <script src="./scripts/service-header.js"></script>
    <script>
      var oneLoginHeader = document.querySelector("[data-module='one-login-header']");
      new window.CrossServiceHeader(oneLoginHeader).init();
    </script>
  </body>
</html>